extends layout

block content
  script.
    function getUserid(i) {
      var userlist = !{JSON.stringify(user_list)};
      window.friendid=userlist[i].userid;
    }
  script.
    window.userid=!{JSON.stringify(userid)};
  script(src='/socket.io/socket.io.js')
  script(src='/jquery/jquery-3.3.1.min.js')
  script(src='/javascripts/chat/chat.js')
  script(src='/javascripts/chat/onclose.js')
  #chatboard(style='width: 500px; height: 300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;float:left')
  #friendslist(style='width: 65px; height:300px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll')
    table(border='0', width='400')
    - for(var i=0; i<user_list.length; i++)
      - var userinfo=user_list[i];
        if (userinfo.userid!=userid)
          tr
            td
              - var fname=userinfo.username;
              input(id=i, type="button", value=fname, onclick='getUserid(this.id)')
        else
          - var username=userinfo.username;
  .controls
    p Name:#{username}
    br
    input#field(style='width:350px;')
    input#send(type='button', value='send')