extends layout

block content
  h1= title
  p Welcome to #{title}
  p Wow: #{result[0].id}
  form(action='/input', method='post')
    |Name
    input(type='text', name='name')
    |Url
    input(type='text', name='url')
    |Alexa
    input(type='text', name='alexa')
    |Country
    input(type='text', name='country')
    input(type='submit', value='submit')
  table(border='1', width='400')
    th ID
    th 名称
    th 地址
    th 排名
    th 国家
    - for(var i=0; i<result.length; i++)
        tr
          td #{result[i].id}
          td #{result[i].name}
          td #{result[i].url}
          td #{result[i].alexa}
          td #{result[i].country}